.frozen-yoghurt-builder {
  .menu-list a {
    background: #fff;
    margin: 5px 0;
    border-radius: 2px;
  }
  .size-menu {
    margin: 0 -10px 40px -10px;
    display: flex;
    li {
      flex: 1;
      margin: 10px;
    }
  }
  .topping-categories {
    display: flex;
    flex-direction: column;
    .topping-category {
      flex: 1;
      margin: 5px;
      .topping-grid {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -5px 0 -5px;
        .topping {
          flex: 1;
          padding: 10px;
          margin: 5px;
          background: #fff;
          border-radius: 2px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          &.is-active {
              background: #3273dc;
              color: #fff;
          }
        }
      }
    }
  }
  .actions {
    display: flex;
    justify-content: center;  
  }
}
